@page "/AdminExportData"
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Add icon library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <style>
            .label {
              display: block;
              float: left;
              font: 1rem 'Fira Sans', sans-serif;

            }

            input,
            .label {
              margin: 20px 10px;
              width: 50%;
              border: 3px solid black;
              padding: 20px;
              display: inline-block;
              border-radius: 25px;
              font-size: 16px;
              width: 15%;          /* Font size of date */
              position: relative;
              text-align: center;

            }


            .label:hover {                    /* Use the :hover selector to change the style of the button when you move the mouse over it. */
              background-color: RoyalBlue;
              border: 2px solid #008CBA
            }


            .header{
            padding: 12px;
            text-align: center;
            font-family: Arial;
            font-size: 12px;
            color: Black;
            background-color: DodgerBlue;
            width: 100%;
            }


            .header h1 {
              position: center;
              width: 100%;
              top: 12px;
              left: 6px;
            }


            .btnexportdata {
              background-color: DodgerBlue;
              color: black;
              font-size: 24px;
              cursor: pointer;
              padding: 25px 50px 50px 25px;
              position: center;
              border-radius: 25px;
              text-align: relative;
              display: inline-block;
              margin: 2px 40px;
              transition-duration: 0.3s;
              float: left;
              table-layout:fixed;              /* Width of the buttons */ 
              border: none;    /* Blue */
              width: 300px;
              height: 40px;
            }

            /* Darker background on mouse-over */
            .btn:hover {                    /* Use the :hover selector to change the style of the button when you move the mouse over it. */
              background-color: RoyalBlue;
              border: 2px solid #008CBA
            }
        </style>
    </head>

    <body>
        <div class= "header">
          <h1>  Admin - Export Data </h1>
        </div> <br><br><br>
        <label for="start">From:</label>

        <input type="date" id="start" name="work-start"
               value= "yyyy-mm-dd"
               min="2020-01-01" max="2030-12-31">

        <label for="start">To:</label>

        <input type="date" id="start" name="trip-start"
               value="yyyy-mm-dd-12"
               min="2020-01-01" max="2030-12-31">

        <div>
          <button class="btnexportdata"><i class="far fa-clone"></i>Export
                <a href="https://www.tacoma.uw.edu" Style = "text-decoration: none; color: black; width: 100% "> </a>
          </button>
        </div>

        <div>
          <button class="btnexportdata"><i class="fa fa-trash"></i>Delete
                <a href="https://www.tacoma.uw.edu" Style = "text-decoration: none; color: black; width: 100% "></a>
          </button>
        </div>
    </body>
</html>





@code {

}
