@page "/"
@inject IEmployeeServices EmployeeService
@inject IRecordServices RecordServices

<PageTitle>Index</PageTitle>

<h1> Clock In/Out Application</h1>
<style>
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
  width: 20%;
}


.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}


.closebtn:hover {
  color: black;
}
</style>

<EditForm Model="employee" OnSubmit="HandleSubmit">
    <div>
        <label for="IdNumber">Id Number</label>
        <InputNumber id="IdNumber" @bind-Value="employee.IdNumber" class="form-control" style="width: 150px;" maxlength = "10"></InputNumber>
    </div>
    

    
    <button type="submit" class="btn btn-primary">Clock in/Clock out</button>
</EditForm>
<br />

@if (ShowAlert == true)
{
    
    <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  Employee ID not Found.
</div>
}
@code{
    //[Parameter]
    // public int? idNumber{ get; set;}


    bool IdFound = false;
    bool LoopDone = false;
    bool ShowAlert = false;
    async Task HandleSubmit()
    {


        foreach (var employee2 in EmployeeService.Employees)
        {
            
            if(employee2.IdNumber == employee.IdNumber)
            {
                await ClockInRecord(employee.IdNumber);
                IdFound =true;
                
            }
            
        } 
        LoopDone = true;
        if(LoopDone == true && IdFound ==! true)
        {
            ShowAlert =true;
        }

        this.employee.IdNumber = 0;
        
        
    }
    Employee employee2 = new Employee();

    Employee employee = new Employee();

    Record record = new Record();

    async Task ClockInRecord(int idNumber)
    {

        var employee = await EmployeeService.GetEmployee((int)idNumber);
        if (employee.IsClockedIn == false)
        {
            //Record record = new Record();
            record.IdNumber = employee.IdNumber;
            record.EmployeeName = employee.FirstName + " " + employee.LastName;
            record.ClockInTime = DateTime.Now;
           
            employee.IsClockedIn = true;


            await RecordServices.CreateRecord2(record);
            await EmployeeService.UpdateEmployee2(employee,employee.IdNumber);
        }
        else if (employee.IsClockedIn == true)
        {
            
            await ClockOutRecord(employee);
        }
    }

    async Task ClockOutRecord(Employee employee) {

        foreach (var record in RecordServices.Records){
            if (record.ClockInTime.Date == DateTime.Today.Date && record.IdNumber == employee.IdNumber && record.ClockOutTime == DateTime.MinValue)
            {

                //int RecordID = employee.IdNumber;

                var record1 = await RecordServices.GetRecord((int)record.ItemNumber);

                record1.ClockOutTime = DateTime.Now;
                int ItemNum = record1.ItemNumber;

                TimeSpan diff = record1.ClockOutTime - record1.ClockInTime;
                double hours = diff.TotalHours;
                record.TotalHoursWorked = hours;
                employee.IsClockedIn = false;

                await EmployeeService.UpdateEmployee2(employee, employee.IdNumber);
                await RecordServices.UpdateRecord2(record1, ItemNum);
            }
            else{}
        }

        

        
    }

    }