@page "/"

<PageTitle>ClockIn ClockOut</PageTitle>

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>

.header{

padding: 12px;
text-align: center;
font-family: Arial;
font-size: 12px;
color: Black;
background-color: #90caf9;
}


.header h1 {
  position: relative;
  top: 12px;
  left: 6px;
}


.button {
  border: none;
  color: white;
  padding: 18px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 16px;
  transition-duration: 0.3s;
  cursor: pointer;
}


.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {              /* Use the :hover selector to change the style of the button when you move the mouse over it. */
  background-color: #90caf9;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;  /* Blue */
}

.button2:hover {              /* Use the :hover selector to change the style of the button when you move the mouse over it. */
  background-color: #90caf9;
  color: white;
}

.button3 {
  background-color: #008CBA; 
  color: black; 
  border: 2px solid #008CBA;
}

.button3:hover {
  background-color: #90caf9;
  color: white;
  border: 2px solid #008CBA
}

</style>
</head>
<body>

<div class= "header">
<img src="https://afcsushi.com/wp-content/uploads/2017/03/about_logo.png" alt="logo"/>
<h1>  Clock In/Out </h1>
<button class="button button1">Admin</button>
</div>


<p>Welcome to Sushi House.</p>
<p><strong> Please enter your 4 didgit code to clock In/Out:</strong></p>


<button class="button button2"> 4 Digit Code</button> <br>
<button class="button button3">Clock In/Out</button> <br>
<button class="button button3">Time Card</button>

</body>
</html>
